<!DOCTYPE html>
<html ng-app>
<head>
    <title>CleanMyAdmin</title>
</head>
<body>

  <div recipe-book >
    <h3>Recipe List</h3>
    <ul>
      <li ng-repeat="recipe in ctrl.recipes">
        <ul>
           <li ng-repeat="entry in ctrl.getKeys(recipe)">
            <b>{{entry}}</b>: {{recipe[entry].runtimeType}}
            <input ng-if="recipe[entry].runtimeType.toString() == 'String'" ng-model="recipe[entry]" type="text"></input>
            <span ng-if="recipe[entry].runtimeType.toString() != 'String'">{{recipe[entry]}}</span>
            <span ng-if="recipe[entry] == null">null</span>
            <button ng-click="ctrl.removeField(recipe, entry)">REMOVE FIELD</button>
           </li>
           <input type="text" ng-model="fieldname"></input>
           <button ng-click="ctrl.addField(recipe, fieldname)">ADD FIELD</button>
        </ul>
        <button ng-click="ctrl.removePlayer(recipe)">REMOVE</button>
      </li>
    </ul>
    <button ng-click="ctrl.addPlayer()" >ADD</button>
  </div>

  <script src="packages/shadow_dom/shadow_dom.min.js"></script>
  <script type="application/dart" src="clean_my_admin.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>