<!DOCTYPE html>
<html ng-app>
<head>
    <title>CleanMyAdmin</title>
</head>
<body>
  <div recipe-book >
    <h3>Recipe List</h3>
    <ul>
      <li ng-repeat="recipe in ctrl.recipes">
        <ul>
           <span>{{recipe}}</span>
           <hello value="recipe"></hello>
        </ul>
        <button ng-click="ctrl.removePlayer(recipe)">REMOVE</button>
      </li>
    </ul>
    <button ng-click="ctrl.addPlayer()" >ADD</button>
  </div>

  <!--  <script src="packages/shadow_dom/shadow_dom.min.js"></script>-->
  <script type="application/dart" src="clean_my_admin.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>